
body {
    padding-top: 200px;
     background-color: #0FEC8E;
     color:#D62A8F;
   /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

footer {
    padding-top: 100px;
    margin: 50px 0;
}
